acres==0.3.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.0
aiosignal==1.3.2
alembic==1.15.2
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.9.0
attrs==25.3.0
beautifulsoup4==4.13.4
blinker==1.9.0
bottle==0.13.3
CacheControl==0.14.2
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
ci-info==0.3.0
click==8.1.8
clr_loader==0.2.7.post0
colorama==0.4.6
configobj==5.0.9
configparser==7.2.0
cryptography==44.0.2
defusedxml==0.7.1
deprecation==2.1.0
distro==1.9.0
et_xmlfile==2.0.0
etelemetry==0.3.1
filelock==3.18.0
firebase-admin==6.7.0
fitz==0.0.1.dev2
Flask==2.3.2
flask-cors==5.0.1
Flask-Login==0.6.2
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
frozenlist==1.6.0
fsspec==2025.3.2
git-filter-repo==2.47.0
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.169.0
google-auth==2.39.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
google-cloud-core==2.4.3
google-cloud-firestore==2.20.2
google-cloud-storage==3.1.0
google-crc32c==1.7.1
google-generativeai==0.8.5
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
gotrue==2.12.0
greenlet==3.1.1
grpcio==1.72.0rc1
grpcio-status==1.71.0
gunicorn==23.0.0
h11==0.16.0
h2==4.2.0
hpack==4.1.0
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
httpx-ws==0.7.2
hyperframe==6.1.0
idna==3.10
iniconfig==2.1.0
isodate==0.6.1
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.9.0
lmstudio==1.3.0
looseversion==1.3.0
lxml==5.4.0
Mako==1.3.10
MarkupSafe==3.0.2
mpmath==1.3.0
msgpack==1.1.0
msgspec==0.19.0
multidict==6.4.4
networkx==3.4.2
nibabel==5.3.2
nipype==1.10.0
numpy==2.2.4
oauthlib==3.2.2
openai==1.78.1
openpyxl==3.1.5
packaging==25.0
pandas==2.2.3
pathlib==1.0.1
pdf2image==1.17.0
pdfminer.six==20250327
pdfplumber==0.11.6
pefile==2023.2.7
pillow==11.2.1
pip==25.1.1
pluggy==1.6.0
postgrest==1.0.2
propcache==0.3.1
proto-plus==1.26.1
protobuf==5.29.4
prov==2.0.1
proxy_tools==0.1.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
puremagic==1.29
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.4
pydantic_core==2.33.2
pydot==4.0.0
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
PyJWT==2.10.1
PyMuPDF==1.25.5
PyMySQL==1.1.1
pyparsing==3.2.3
PyPDF2==3.0.1
pypdfium2==4.30.1
pytest==8.3.5
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.1.0
python-pptx==1.0.2
pythonnet==3.0.5
pytz==2025.2
pywebview==5.4
pywin32-ctypes==0.2.3
pyxnat==1.6.3
rdflib==6.3.2
realtime==2.4.3
replicate==1.0.6
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9.1
scipy==1.15.3
setuptools==80.7.1
simplejson==3.20.1
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
SQLAlchemy==2.0.40
storage3==0.11.3
StrEnum==0.4.15
supabase==2.15.2
supafunc==0.9.4
sympy==1.14.0
torch==2.7.0
tqdm==4.67.1
traits==7.0.2
typing_extensions==4.13.2
typing-inspection==0.4.0
tzdata==2025.2
uritemplate==4.1.1
urllib3==2.4.0
websockets==14.2
Werkzeug==3.1.3
wheel==0.45.1
wsproto==1.2.0
XlsxWriter==3.2.3
yarl==1.20.0
youtube-transcript-api==1.0.3